body {
  background-color:#1E1E1E;
}

button {
  border: none;
  background-color: #FF9416;
  color: white;
  padding: 4px 12px;
  margin: 0;
  border-radius: 12px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(185, 180, 180);
}

h2 {
  color: #FF9416;
  text-align: center;
  padding: 20px;
}

h5 {
  color: white;
  text-align: center;
}

h6 {
  color: white;
  text-align: center;
}

.logoBinance {
  width: 150px;
  margin: 20px;
}